body{
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
    display: inline;
}

h1, h2, h3{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

h1{
    font-size: 20pt;
    font-style: bold;
    text-align: center;
}

h2{
    text-align: left;
    font-size: 18pt;
}

a{
    color: #A4A400;
}

.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: 20px;
  background-color: black;
  color: #fff;
  text-align: center;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;  
}

#deleted{
    display: inline;
    text-align: center;
    text-decoration: line-through;
}

#block_container{
    text-align:left;
}

#bloc1, #deleted, #bloc3
{
    display:inline;
}

#copyright{
    font-family: monospace;
}

.copyright{
    float: right;
}

.validator{
    display: flex;
}